.menu{
    list-style: none;
    font-size: 16px;
}
.menu li{
    background-color: #ffffff;
}
.menu li:hover{
    background-color: #eaeaea;
}
.menu a:link{
    color: #555;
    text-decoration: none;
}
.menu a:visited{
    color: #000;
    text-decoration: none;
}
.menu a:hover,.menu a:focus{
    color:#000;
    text-decoration: none;
}
#title small{
            color: #ddd;
            font-size: 18px;
        }
        #title h3 a{
            text-decoration: none;
            color: white;
        }
@media only screen and (min-width: 1000px){
    body{
            background-image: url(../imgs/background2.JPG);
            background-size: cover;
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        }
        .menu{
            width: 288px;
        }
        .menu li{
            line-height: 2.4em;
            margin-left: -2px;
        }
        .menu li:hover{
            line-height: 2.4em;
            margin-left: -2px;
        }
        #title{
            background-color: #222 !important;
            margin-left: 38px;
            width: 250px;
            padding-top: 5px;
            padding-bottom: 30px;
            text-align: center;
        }
        .main{
            background-color: white;
        }
        .text h4,.text small{
            text-align: center;
        }
        .text{
            padding: 15px;
            font-size: 16px;
            font-family: "冬青黑体简体中文", "微软雅黑", "宋体", Arial, sans-serif;
        }
        footer{
            text-align: center;
        }
        .centerPosition{
            text-align: center;
        }
        .rightPosition{
            text-align: right;
        }
        #articles{
           font-size: 16px;
            font-family: "冬青黑体简体中文", "微软雅黑", "宋体", Arial, sans-serif;
        }
        #articles small{
            display: block;
            text-align: center;
        }
        #articles h1{
            font-size: 18px!important;
            font-weight: bold;
        }
}