    html{
        min-height: 1000px;
    }


        body{
        background-color:black;
        background-image:
            radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 40px),
            radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 30px),
            radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 40px),
            radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);
    background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
    background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
            font-family: 'Lato', "PingFang SC", "Microsoft YaHei", sans-serif;
        }
        .menu{
            list-style: none;
            width: 288px;
            font-size: 16px;
        }
        .menu li{
            background-color: #ffffff;
            line-height: 2.4em;
            color: black!important;
            margin-left: -2px;
            transition: background-color 1.2s;
        }
        .menu li:hover{
            color: white!important;
            background-color: #000;
            line-height: 2.4em;
            margin-left: -2px;
        }
        .menu a:link{
            color: inherit;
            text-decoration: none;
        }
        .menu a:visited{
            color: inherit;
            text-decoration: none;
        }
        .menu a:hover,.menu a:focus{
            color: inherit;
            text-decoration: none;
        }
        #title{
            background-color: #222!important;
            color: white;
            margin-left: 38px;
            width: 250px;
            padding-top: 5px;
            padding-bottom: 30px;
            text-align: center;
        }
        #title:hover{
            background-color: black;
            color: white;
        }
        #title small{
            color: inherit;
            font-size: 14px;
            cursor: pointer;
        }
        #title h3 a{
            text-decoration: none;
            color: inherit;
        }
        .main{
            background-color: white;
        }
        .text h4,.text small{
            text-align: center;
        }
        .text{
            padding: 15px;
            font-size: 16px;
            font-family: 'Lato', "PingFang SC", "Microsoft YaHei", sans-serif;
        }
        footer{
            text-align: center;
        }
        .centerPosition{
            text-align: center;
        }
        .rightPosition{
            text-align: right;
        }
        #articles{
            font-size: 16px;
            font-family: 'Lato', "PingFang SC", "Microsoft YaHei", sans-serif;
        }
        #articles div div span{
            font-size: 12px!important;
            color: #999;
        }
        #showArticle div span{
            font-size: 14px!important;
            color: #999;
        }
        #showArticle div span a{
            font-size: 16px!important;
            color: #555;
            transition: color 1.1s;
            transition: text;
        }
        #showArticle div span a:hover{
            font-size: 16px!important;
            color: #000;
        }
        #articles h1,#articles h2{
            font-size: 17px!important;
            font-weight: bold;
        }
        button a:link,button a:visited,button a:hover,button a:focus{
            text-decoration: none !important;
        }
        #minNav{
            background-color: #222;
            opacity: 0.9!important;
            color: white!important;
            border-color: #222!important;
        }
        #showArticle h3{
            font-size: 26px;
            font-weight: 300!important;
        }
        #showArticle div{
            font-size: 14px;
            color: #555;
        }

    #body img{
        width: 200px;
    }
    #body{
        background-color: white;
    }
    ul{
        list-style: none!important;
    }
    #tagList li,#authorList li{
        color: #23527c;
        cursor: pointer;
        font-family: 'Lato', "PingFang SC", "Microsoft YaHei", sans-serif;
        font-size: 22px!important;
    }
    #nav-header{
        background-color: #222;
        margin-top: -1px;
    }
    #navTitle{
        color: white;
        font-weight: bold;
    }
    #title{
        background-color: black;
    }
    #nullLiFirst{
        background-color: white!important;
    }
    #nullLiLast{
        background-color: white;
        height: 20px;
    }
    #showArticle span{
        font-size: 13px!important;
    }
    #showTagList{
        font-family: 'Lato', "PingFang SC", "Microsoft YaHei", sans-serif;
        font-size: 25px!important;
    }
    #showTagList li{
        color: #23527c;
        padding-top: 20px;
        cursor: pointer;;
    }
    #tagList li{
        font-size: 20px;
    }
    #authorInfoList li,#authorArticlesList li{
        font-family: 'Lato', "PingFang SC", "Microsoft YaHei", sans-serif;
        font-size: 18px;
        padding-top: 15px;
    }
    .info{
        color: #555;
        cursor: pointer!important;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 12px!important;
    }
    #team div{
        font-family: 'Lato', "PingFang SC", "Microsoft YaHei", sans-serif;
        font-size: 16px;
    }
    #Catalog ul{
        margin: 0px;
        padding: 0px;
    }
    #authorInfoList{
        font-size: 14px;
    }
    #articles h4{
        color: #555!important;
    }
    #currentPage{
        color: white;
        text-decoration: none;
        padding: 10px;
        border-width: 20px;
        border: none;
        background: #999;
    }
    .pageActive{
        background-color: #999;
        cursor: none;
    }
    #nextPage{
        color: white;
        text-decoration: none;
        padding: 10px;
        border-width: 20px;
        border: none;
        color: #222;
        cursor: pointer;
        transition:background 1s;
    }
    #nextPage:hover{
        color: white;
        text-decoration: none;
        padding: 10px;
        border-width: 20px;
        border: none;
        background-color: black;
        cursor: pointer;
    }
    #next{
        color: white;
        text-decoration: none;
        padding: 10px;
        border-width: 20px;
        border: none;
        color: #222;
        cursor: pointer;
    }
    #articles h4{
        transition-property: color;
        text-decoration: none;
        color: #222;
        transition: 1.5s;
    }
    #articles h4:hover{
        color: black;
    }
    #articels div div span a{
        color: #222;
        text-decoration: none!important;
        transition-property: color;
        transition: 1.2s;
    }
    #articles div div span a:hover{
        color: #000;
    }
    #articles p{
        color: #555;
    }
    #articles button{
        border-color: black;
        background-color: white;
        visibility: visible;
        transition: border-color 1.1s;
        transition: background-color 1.1s;
        transition: visibility 1.2s;
    }
    #articles button:hover{
        color: white;
        border-color: white;
        background-color: black;
    }
    #articles button:active{
        border-color: white;
        visibility: hidden;
    }
    #body{
        min-height: 800px;
    }
@media screen and (max-width: 992px){
    #body div{
        margin-top: 50px!important;
    }
}