    html{
        min-height: 800px;
        font-family: 'Lato', "PingFang SC", "Microsoft YaHei", sans-serif;
    }


        body{
        background-color:black;
        background-image:
            radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 40px),
            radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 30px),
            radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 40px),
            radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);
    background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
    background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
            font-family: 'Lato', "PingFang SC", "Microsoft YaHei", sans-serif;
        }
        .menu{
            list-style: none;
            width: 288px;
            font-size: 16px;
        }
        .menu li{
            background-color: #ffffff;
            line-height: 2.4;
            color: black!important;
            margin-left: -2px;
            transition: background-color 1.2s;
            -moz-transition: background-color 1.2s;  /* Firefox 4 */
            -webkit-transition: background-color 1.2s;   /* Safari 和 Chrome */
            -o-transition: background-color 1.2s;    /* Opera */
        }
        .menu li:hover{
            color: white!important;
            background-color: #000;
            line-height: 2.4;
            margin-left: -2px;
        }
        .menu a:link{
            color: inherit;
            text-decoration: none;
        }
        .menu a:visited{
            color: inherit;
            text-decoration: none;
        }
        .menu a:hover,.menu a:focus{
            color: inherit;
            text-decoration: none;
        }
        #title{
            background-color: #222!important;
            color: white;
            margin-left: 38px;
            width: 250px;
            padding-top: 5px;
            padding-bottom: 30px;
            text-align: center;
        }
        #title:hover{
            background-color: black;
            color: white;
        }
        #title small{
            color: inherit;
            font-size: 14px;
            cursor: pointer;
        }
        #title h3 a{
            text-decoration: none;
            color: inherit;
        }
        .main{
            background-color: white;
        }
        .text h4,.text small{
            text-align: center;
        }
        .text{
            padding: 15px;
            font-size: 16px;
            font-family: 'Lato', "PingFang SC", "Microsoft YaHei", sans-serif;
        }
        footer{
            text-align: center;
        }
        .centerPosition{
            text-align: center;
        }
        .rightPosition{
            text-align: right;
        }
        #articles{
            font-size: 16px;
            font-family: 'Lato', "PingFang SC", "Microsoft YaHei", sans-serif;
        }
        #articles div div span{
            font-size: 12px!important;
            color: #999;
        }
        #showArticle div span{
            font-size: 14px!important;
            color: #999;
        }
        #showArticle div span a{
            font-size: 16px!important;
            color: #555;
            transition: color 1.1s;
            -moz-transition: color 1.1s;  /* Firefox 4 */
            -webkit-transition: color 1.1s;   /* Safari 和 Chrome */
            -o-transition: color 1.1s;    /* Opera */
        }
        #showArticle div span a:hover{
            font-size: 16px!important;
            color: #000;
        }
        #articles h1{
            font-size: 17px!important;
            font-weight: bold;
        }
        button a:link,button a:visited,button a:hover,button a:focus{
            text-decoration: none !important;
        }
        .navbar-nav{
            margin: 0px -15px;
        }
        #minNav{
            background-color: #222;
            opacity: 0.9!important;
            color: white!important;
            border-color: #222!important;
            height: 50px;
        }
        #minNav li{
            background-color: #222;
        }
        #articleTitle{
            font-size: 24px;
            font-weight: 300!important;
        }
        #showArticle div{
            font-size: 14px;
            color: #555;
        }

    #body img{
        width: 300px;
    }
    #body{
        background-color: white;
    }
    ul{
        list-style: none!important;
    }

    #authorList span[name='authorName']{
        padding: 10px;
        color: #555;
        font-weight: 300!important;
        cursor: pointer;
        font-family: 'Lato', "PingFang SC", "Microsoft YaHei", sans-serif;
        font-size: 16px!important;
        line-height: 2;
    }
    #nav-header{
        background-color: #222;
        margin-top: -1px;
    }
    #navTitle{
        color: white;
        font-weight: bold;
    }
    #title{
        background-color: black;
    }
    #nullLiFirst{
        background-color: white!important;
    }
    #nullLiLast{
        background-color: white;
        height: 20px;
    }
    #articleBody{
        font-size: 13px!important;
        line-height: 1.5;
    }
    #articleBody h5{
        font-size: 13px;
    }
    #articleBody h4{
        font-size: 14px;
    }
    #articleBody h3{
        font-size: 15px;
    }
    #articleBody h2,#articleBody h1{
        font-size: 16px;
    }
    #showArticle span{
        font-size: 13px!important;
    }

    #showTagList{
        font-family: 'Lato', "PingFang SC", "Microsoft YaHei", sans-serif;
        font-size: 15px!important;
    }
    #showTagList li{
        color: #555;
        padding-top: 15px;
        cursor: pointer;
        font-size: 15px;
        line-height: 2;
    }
    span[name='articleTitle'],span[name='articleAuthor']{
        color: #555;
    }
    span[name='articleTitle']:hover,span[name='articleAuthor']:hover{
        color: black;
        transition: color 1.1s;
        -moz-transition: color 1.1s;  /* Firefox 4 */
        -webkit-transition: color 1.1s;   /* Safari 和 Chrome */
        -o-transition: color 1.1s;    /* Opera */  

    }
   
    #tagList li{
        font-size: 20px;
    }
    #authorInfoList div{
        font-family: 'Lato', "PingFang SC", "Microsoft YaHei", sans-serif;
        font-size: 17px;
        font-weight: 300;
        padding: 10px;
        line-height: 2;
        color: #555;
    }
    #authorArticlesList div{
        font-family: 'Lato', "PingFang SC", "Microsoft YaHei", sans-serif;
        font-size: 19px;
        font-weight: 400;
        padding: 10px;
        line-height: 2;
        color: #222;
    }
    .info{
        color: #555;
        cursor: pointer!important;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 12px!important;
    }
    #team div{
        font-family: 'Lato', "PingFang SC", "Microsoft YaHei", sans-serif;
        font-size: 14px;
        color: #222;
        line-height: 2.5;
    }
    #team div a:link{
        color: #555;
        font-size: 13px!important;
        line-height: 2;
        transition: color 1s,font-size 2s;
        -moz-transition: color 1s,font-size 2s;  /* Firefox 4 */
        -webkit-transition: color 1s,font-size 2s;   /* Safari 和 Chrome */
        -o-transition: color 1s,font-size 2s;    /* Opera */
    }
    #team div a:hover{
        line-height: 2;
        color: #000;
        font-size: 16px!important;
    }
    #Authors ul{
        margin: 0px;
        padding: 0px;
    }
    #authorInfoList{
        font-size: 14px;
    }
    #articles h4{
        color: #555!important;
    }
    #currentPage{
        font-size: 12px;
        color: white;
        text-decoration: none;
        padding: 10px;
        border-width: 20px;
        border: none;
        background: #999;
    }
    .pageActive{
        background-color: #999;
        cursor: none;
    }
    #nextPage,#prevPage{
        font-size: 12px;
        color: white;
        text-decoration: none;
        padding: 10px;
        border-width: 20px;
        border: none;
        color: #222;
        cursor: pointer;
         transition:background-color 1s;
        -moz-transition: background-color 1s;  /* Firefox 4 */
        -webkit-transition: background-color 1s;   /* Safari 和 Chrome */
        -o-transition: background-color 1s;    /* Opera */
    }
    #nextPage:hover,#prevPage:hover{
        color: white;
        text-decoration: none;
        padding: 10px;
        border-width: 20px;
        border: none;
        background-color: black;
        cursor: pointer;
    }
    #next,#prev{
        color: white;
        text-decoration: none;
        padding: 10px;
        border-width: 20px;
        border: none;
        color: #222;
        cursor: pointer;
    }
    #articles h4{
        text-decoration: none;
        color: #222;

        transition: color 1.2s;
        -moz-transition: color 1.2s;  /* Firefox 4 */
        -webkit-transition: color 1.2s;   /* Safari 和 Chrome */
        -o-transition: color 1.2s;    /* Opera */  
    }
    #articles h4:hover{
        color: black;
    }
    #tagTitle{
        color: #222;
        font-size: 22px;
        font-weight: 300;
        line-height: 2;
    }
    #articels div div span a{
        color: #222;
        text-decoration: none!important;
        transition: color 1.2s;
        -moz-transition: color 1.2s;  /* Firefox 4 */
        -webkit-transition: color 1.2s;   /* Safari 和 Chrome */
        -o-transition: color 1.2s;    /* Opera */        
    }
    #articles div div span a:hover{
        color: #000;
    }
    #articles p{
        color: #555;
    }
    #articles button{
        border-color: black;
        background-color: white;
        visibility: visible;
        transition: border-color 1.1s,background-color 1.1s,visibility 1.2s;
        -moz-transition: border-color 1.1s,background-color 1.1s,visibility 1.2s;  /* Firefox 4 */
        -webkit-transition: border-color 1.1s,background-color 1.1s,visibility 1.2s;   /* Safari 和 Chrome */
        -o-transition: border-color 1.1s,background-color 1.1s,visibility 1.2s;   /* Opera */  
    }
    #articles button:hover{
        color: white;
        border-color: white;
        background-color: black;
    }
    #articles button:active{
        border-color: white;
        visibility: hidden;
    }
    #body{
        min-height: 800px;
    }
    #articleContent{
        line-height: 1.5;
        font-size: 15px;
    }
    #team img{
        margin-top: -30px;
        cursor: pointer;
        width: 225px;
        line-height: 20;
        transition: width 1.5s;
        -moz-transition: width 1.5s;  /* Firefox 4 */
        -webkit-transition: width 1.5s;   /* Safari 和 Chrome */
        -o-transition: width 1.5s;    /* Opera */
    }
    #team img:hover{
        margin-top: -30px;
        cursor: pointer;
        line-height: 10;
        width: 285px;
    }
    #teamName{
        font-size: 27px!important;
        font-weight: 300!important;
        color: #222!important;
    }
    #totalTag{
        font-size: 12px;
        color: #555;
        line-height: 3;
    }
    #tagCount{
        color: inherit;
    }
    span[name='tags']{
        font-size: 14px;
        color: #555;
        font-weight: 300;
        line-height: 2;
        cursor: pointer;
        transition: color 0.5s;
        -moz-transition: color 0.5s;  /* Firefox 4 */
        -webkit-transition: color 0.5s;   /* Safari 和 Chrome */
        -o-transition: color 0.5s;    /* Opera */
    }
    span[name='tags']:hover{
        font-size: 14px;
        color: #111;
        font-weight: 300;
        line-height: 2;
        cursor: pointer;
    
    }
    #firstTag{
        font-weight: 600;
        line-height: 2;
        color: #222;
        font-size: 22px;
    }
    #authorInfoList{
        text-align: center;
    }
    #authorInfoList img{
        width: 100px;
    }
    #authorArticlesList div[name='articleTag']{
        font-size: 15px;
        color: #555;
        font-weight: 300;
        line-height: 2;
        cursor: pointer;
    }
    #authorArticlesList div[name='articleName']{
        font-size: 19px;
        color: #222;
        font-weight: 400;
        cursor: pointer;
        line-height: 2;
    }
    #articleContent div h1 {
  font-size: 22px; }
#articleContent div h2{
  font-size: 21px; }
  #articleContent div h3 {
  font-size: 20px; }
 #articleContent div h4{
  font-size: 19px; }
 #articleContent div h5 {
  font-size: 18px; }

/*# sourceMappingURL=test.css.map */

@media screen and (max-width: 992px){
    #body div:nth-child(1){
        margin-top: 50px!important;
    }
    #articleTitle{
        margin-top: 50px!important;
        padding-top: 15px;
    }
}